<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>¿Olvido su contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">restablecerPass</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="cardRecupera">
    <ion-card-header>
      <ion-card-title style="font-size: medium;">Restablecer contraseña</ion-card-title>
    </ion-card-header>
    
    <ion-card>
      <form [formGroup]="formularioRestablecer">
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="pass1">
            <div slot="label">Nueva contraseña<ion-text color="danger">(Requerido)</ion-text></div>
          </ion-input>
        </ion-item>


      </form>
    </ion-card>
  </ion-card>
  
  <ion-button class="recuperarButton" (click)="recuperar()" expand="block">Restablecer contraseña</ion-button>

</ion-content>