.loginButton{
    font-size: small;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.cardLogin{
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

.anchorRestablecer{
    display: flex;
    justify-content: center;
    font-size: x-small;
    margin-top: 10%;
    margin-bottom: 10%;
}
