.loginButton{
    font-size: small;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.cardLogin{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.anchorRestablecer{
    display: flex;
    justify-content: center;
    font-size: x-small;
    margin-top: 10%;
    margin-bottom: 10%;
}

ion-card {
    color: white;
    opacity: 0.5;
    background: blue;
    margin: 10px;
  
    --background: red;
  }
  
  @media (prefers-color-scheme: dark) {
    ion-card {
      --background: green;
    }
  }